@font-face {
    font-family: 'bebas';
    src: url('../font/Bebas.ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight{
    @apply text-4xl md:text-6xl pb-2 uppercase;
}
.hightlight-2{
    @apply text-6xl text-center uppercase;
}
.line{
    @apply h-[2px] w-56 bg-white;
}

html{
    scroll-behavior : smooth;
}